@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{ 
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Список пользователей</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Roles</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody class="table">
                        @foreach (var role in Model)
                        {
                            <tr>
                                <td>@role.Id</td>
                                <td>@role.Name</td>
                                <td>
                                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                                        <button type="submit" class="btn btn-sm btn-danger">
                                            Удалить
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<a asp-action="Create">Добавить роль</a>
<a asp-action="UserList">Список пользователей</a>*@