<!-- Breadcrumb Begin -->
<div class="breadcrumb-option spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="bo-links">
                    <a asp-controller="Home"><i class="fa fa-home"></i>Home</a>
                    <span>@ViewData["PageName"]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->