@{
    ViewData["PageName"] = "Gallery";
    ViewData["Title"] = "Gallery";
}
@await Html.PartialAsync("~/Views/Shared/Breadcrumb.cshtml")
<!-- Gallery Section Begin -->
<div class="gallery-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="filter-controls">
                    <ul>
                        <li class="active" data-filter="*">All</li>
                        <li data-filter=".fashion">Fashion</li>
                        <li data-filter=".lifestyle">Lifestyle</li>
                        <li data-filter=".natural">Natural</li>
                        <li data-filter=".wedding">Wedding</li>
                        <li data-filter=".videos">Videos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="gallery-filter">
                    <div class="gf-item set-bg fashion" data-setbg="img/gallery/gallery-1.jpg">
                        <a href="img/gallery/gallery-1.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item small-height set-bg lifestyle" data-setbg="img/gallery/gallery-2.jpg">
                        <a href="img/gallery/gallery-2.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item large-small-height set-bg natural" data-setbg="img/gallery/gallery-3.jpg">
                        <a href="img/gallery/gallery-3.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item small-height set-bg wedding" data-setbg="img/gallery/gallery-4.jpg">
                        <a href="img/gallery/gallery-4.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item set-bg lifestyle" data-setbg="img/gallery/gallery-5.jpg">
                        <a href="img/gallery/gallery-5.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item large-height set-bg natural" data-setbg="img/gallery/gallery-6.jpg">
                        <a href="img/gallery/gallery-6.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item set-bg videos" data-setbg="img/gallery/gallery-7.jpg">
                        <a href="img/gallery/gallery-7.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item set-bg fashion" data-setbg="img/gallery/gallery-8.jpg">
                        <a href="img/gallery/gallery-8.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item medium-large-height set-bg videos" data-setbg="img/gallery/gallery-9.jpg">
                        <a href="img/gallery/gallery-9.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item large-height set-bg fashion" data-setbg="img/gallery/gallery-6.jpg">
                        <a href="img/gallery/gallery-6.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item set-bg wedding" data-setbg="img/gallery/gallery-10.jpg">
                        <a href="img/gallery/gallery-10.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item large-height set-bg wedding" data-setbg="img/gallery/gallery-11.jpg">
                        <a href="img/gallery/gallery-11.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item small-height set-bg wedding" data-setbg="img/gallery/gallery-12.jpg">
                        <a href="img/gallery/gallery-12.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item set-bg wedding" data-setbg="img/gallery/gallery-13.jpg">
                        <a href="img/gallery/gallery-13.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item large-height set-bg wedding" data-setbg="img/gallery/gallery-14.jpg">
                        <a href="img/gallery/gallery-14.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item set-bg wedding" data-setbg="img/gallery/gallery-15.jpg">
                        <a href="img/gallery/gallery-15.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item large-height set-bg wedding" data-setbg="img/gallery/gallery-16.jpg">
                        <a href="img/gallery/gallery-16.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                    <div class="gf-item medium-small-height set-bg wedding" data-setbg="img/gallery/gallery-17.jpg">
                        <a href="img/gallery/gallery-17.jpg" class="gf-icon image-popup">
                            <span class="icon_plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="load-more-btn portfolio-btn">
        <a href="#">Load More</a>
    </div>
</div>
<!-- Gallery Section End -->